<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssbc.nmg.dataspider.dao.mapper.ExtractingLogMapper">


    <!--&lt;!&ndash; 通用查询映射结果 &ndash;&gt;-->
    <!--<resultMap id="BaseResultMap" type="com.ssbc.nmg.dataspider.dao.ExtractingLog">-->
        <!--<id column="id" property="id" jdbcType="INTEGER" />-->
        <!--<result column="agency_id" property="agencyId" />-->
        <!--<result column="ageins_name" property="ageinsName" />-->
    <!--</resultMap>-->


    <resultMap type="com.ssbc.nmg.dataspider.dao.ExtractingLog" id="extractingLogBean">
        <id column="extracting_id" property="id" />
        <result column="agency_id" property="agencyId" />
        <result column="ageins_name" property="ageinsName" />
        <!-- 一对一的关系 -->
        <!-- property: 指的是属性的值, javaType：指的是元素的类型 -->
        <association property="agency" javaType="com.ssbc.nmg.dataspider.dao.Agency">
            <id column="id" property="ID" jdbcType="VARCHAR" />
            <result column="AGEINSNAME" property="AGEINSNAME" />
            <result column="AGEINSTYPENAME" property="AGEINSTYPENAME" />
            <result column="ECOTYPENAME" property="ECOTYPENAME" />
            <result column="AREACODE" property="AREACODE" />
            <result column="AREANAME" property="AREANAME" />
            <result column="TEL" property="TEL" />
        </association>
    </resultMap>



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		id, agency_id, ageins_name
	</sql>


    <select id="selectExtractingLog"  resultType="com.ssbc.nmg.dataspider.dao.AgencyExtract">
		SELECT agency.*,extracting_log.extract_time,extracting_log.id AS extract_id FROM extracting_log LEFT JOIN agency ON extracting_log.agency_id = agency.ID  ORDER BY extracting_log.extract_time DESC
	</select>

    <!--<insert id="insert2"-->
    <!--useGeneratedKeys="true" keyProperty="ID">-->

    <!--insert into Agency(REMOTEID, AGEINSNAME, AGEINSTYPENAME,ECOTYPENAME,AREACODE,AREANAME,TEL) values-->
    <!--(#{REMOTEID},#{AGEINSNAME},#{AGEINSTYPENAME},#{ECOTYPENAME},#{AREACODE},#{AREANAME},#{TEL})-->

    <!--</insert>-->


    <!--<select id="selectByUsername" resultType="com.github.kkgy333.sword.fabric.server.model.User">-->
    <!--select-->
    <!--<include refid="Base_Column_List"/>-->
    <!--from user-->
    <!--where username = #{username}-->
    <!--</select>-->

</mapper>
